---
import { getCollection } from 'astro:content';
import Base from '../../layouts/base.astro';

const posts = await getCollection('blog');
posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Base title="BLOG">

<intro class="hover:animate-pulse mb-2 font-bold">
  <h1>BLOG POST.</h1>
  <h2>RECORDS IMMEMORIAL.</h2>
</intro>
  <ul>
    {posts.map((post) => (
      <li class="mb-2">
        <a class="underline decoration-2" href={`/blog/${post.slug}`}>{post.data.title}</a>
        <time class="text-zinc-400">{post.data.date.toLocaleDateString()}</time>
        <p class="text-zinc-300">{post.data.description}</p>
      </li>
    ))}
  </ul>
</Base>