---
import Base from '../../layouts/base.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');
const tags = [...new Set(allPosts.flatMap(post => post.data.tags))];
---

<Base>
  <h1 class="text-2xl font-bold mb-4">All Tags</h1>
  <ul class="flex flex-wrap gap-2">
    {tags.map(tag => (
      <li>
        <a href={`/tags/${tag}`} class="bg-zinc-800 text-zinc-100 px-2 py-1 rounded hover:bg-zinc-700">
          {tag}
        </a>
      </li>
    ))}
  </ul>
</Base>