---
import Base from '../layouts/base.astro';
import Jester from '../components/jester.astro'
import Link from '../components/link.astro'
---
<Base>
    
<div class="jester block w-full my-5"><Jester /></div>

<hr class="h-2 my-4 bg-zinc-50">

<p class="text-md">Hello and welcome to my corner of the internet. I'm a CS student interested in AI/ML and Biology. You can contact me through <a class="hover:text-sky-300 font-semibold" href="https://discord.gg/M6NfuNSrZd">discord</a>,<a class="hover:text-sky-300 font-semibold" href="https://twitter.com/fool739"> twitter,</a> or email me at <a class="hover:text-sky-300 font-semibold" href="mailto:jester@fool.ltd">jester@fool.ltd</a></p>

</Base>