---
import Base from '../layouts/base.astro'
---

<Base title="FOOL">

<intro class="hover:animate-pulse font-bold"> 
    <h1>CONTACT.</h1>
    <h2>GET IN TOUCH WITH ME.</h2>
</intro>

<div class="underline decoration-2 grid grid-cols-2 grid-rows-2 justify-center">
    <a class="hover:font-semibold" href="https://twitter.com/fool739">TWITTER</a>
    <a class="hover:font-semibold" href="https://discord.gg/M6NfuNSrZd">DISCORD</a>
    <a class="hover:font-semibold" href="mailto:jester@fool.ltd">EMAIL</a>
    <a class="hover:font-semibold" href="https://instagram.com">INSTA</a>
</div>

</Base>