---
import Base from '../layouts/base.astro';
import Jester from '../components/jester.astro'
import Link from '../components/link.astro'
---
<Base>
    
<div class="jester block w-full my-5"><Jester /></div>

<hr class="h-2 my-4 bg-zinc-50">

<div class="my-4 p-5 bg-zinc-900 shadow-inner">
    <h2 class="underline text-xl font-bold">About me:</h2> 
    <p class="my-2 text-sm">Hello, and welcome to my personal website. I'm a 20 year old undergrad student studying computer science based in texas. I like everything from video games and biology to anime and AI/ML. </p>
</div>

<Link />

</div>
</Base>