---
import Base from '../layouts/base.astro';
import Jester from '../components/jester.astro'

---
<Base>

<div class="jester block w-full my-5"><Jester /></div>

<hr class="h-2 my-4 bg-zinc-50">

<div class="my-4 p-5 bg-zinc-900">
    <a href="/bio" class="underline hover:font-semibold">About me:</a>
    <p class="my-2 text-sm">Hello, and welcome to my personal website. 
        Most people know me as <a href="/bio" class= "underline hover:decoration-yellow-400 hover:text-yellow-400">star</a>, I'm a 20 year old 
        undergrad student based in texas. I like to play games and dilly dally.</p>
</div>

</Base>