---
import Base from '../layouts/base.astro';
import Jester from '../components/jester.astro'
import Link from '../components/link.astro'
---
<Base>
    
<div class="jester block w-full my-5"><Jester /></div>

<hr class="h-2 my-4 bg-zinc-50">

<Link />

</div>
</Base>