---
import Base from '../layouts/base.astro'
---

<Base title="FOOL">

<intro class="hover:animate-pulse font-bold"> 
    <h1>FOOL.</h1>
    <h2>LIVE ON THE EDGE.</h2>
</intro>

<div class="underline decoration-2  grid grid-cols-2 grid-rows-2">
    <a class="hover:font-semibold" href="/about">ABOUT</a>
    <a class="hover:font-semibold" href="/contact">CONTACT</a>
    <a class="hover:font-semibold" href="/blog">BLOG</a>
    <a class="hover:font-semibold" href="/projects">PROJECTS</a>
</div>


</Base>