---
import Base from '../layouts/base.astro';
import Projects from '../components/projects.astro';
---

<Base>
    <header class="px-4">
        <p class="text-lg leading-relaxed mt-10 mb-12">
            here are some of my projects. most of them are open source 
            and available on github.</p>
    </header>

    <Projects />
</Base>

