---
import SocialLinks from '../components/SocialLinks.astro';
---

<header data-pagefind-ignore class="px-4">
    <p class="text-lg leading-relaxed mt-10">
        biology student. i like cars, music, and games.</p>
        
    <div class="mt-6 mb-12">
        <SocialLinks />
    </div>
</header>