---
import SocialLinks from '../components/SocialLinks.astro';
---

<header class="px-4">
    <p class="text-lg leading-relaxed mt-10">
        welcome, i'm a computer science student in texas. 
        currently learning about machine learning and ai engineering. 
        I love everything from computers and music to reading and writing.
        hmu on whatever, whenever.</p>
        
    <div class="mt-6 mb-12">
        <SocialLinks />
    </div>
</header>