---
import SocialLinks from '../components/SocialLinks.astro';
---

<header data-pagefind-ignore class="px-4">
    <p class="text-lg leading-relaxed mt-10">
        a man who has died many deaths, and wishes to live many lives. </p>
        
    <div class="mt-6 mb-12">
        <SocialLinks />
    </div>
</header>