---

---
<div class="
    prose-h1: prose-h1:font-bold prose-h1:text-3xl prose-h1:mb-5 prose-h1:underline prose-h1:underline-offset-2
    prose-h2: prose-h2:font-bold prose-h2:text-2xl prose-h2:mb-3 prose-h2:mt-2
    prose-h3: prose-h3:font-bold prose-h3:mt-3 prose-h3:text-xl
    prose-ul: prose-ul:list-disc prose-ul:ml-5
    prose-p:mb-3
    prose-blockquote: prose-blockquote:italic 
    prose-a:underline">
    <slot />
</div>