<div class="flex gap-6 items-center">
    <!-- Email -->
    <a href="mailto:jester@fool.ltd" class="hover:text-neutral-600 dark:hover:text-neutral-400 transition-colors">
        <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 8L10.89 13.26C11.2187 13.4793 11.6049 13.5963 12 13.5963C12.3951 13.5963 12.7813 13.4793 13.11 13.26L21 8M5 19H19C19.5304 19 20.0391 18.7893 20.4142 18.4142C20.7893 18.0391 21 17.5304 21 17V7C21 6.46957 20.7893 5.96086 20.4142 5.58579C20.0391 5.21071 19.5304 5 19 5H5C4.46957 5 3.96086 5.21071 3.58579 5.58579C3.21071 5.96086 3 6.46957 3 7V17C3 17.5304 3.21071 18.0391 3.58579 18.4142C3.96086 18.7893 4.46957 19 5 19Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>
    <!-- Twitter/X -->
    <a href="https://twitter.com/clfool1" target="_blank" rel="noopener noreferrer" class="hover:text-neutral-600 dark:hover:text-neutral-400 transition-colors">
        <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.2833 10.1141L23.2178 0H21.1006L13.3427 8.82384L7.14656 0H0L9.36984 13.3924L0 23.9776H2.11732L10.3098 14.6827L16.8534 23.9776H24L14.2827 10.1141H14.2833ZM11.3833 13.4918L10.3864 12.1035L2.86771 1.55782H6.13656L12.1956 10.0919L13.1925 11.4802L21.1016 22.5668H17.8327L11.3833 13.4924V13.4918Z" fill="currentColor"/>
        </svg>
    </a>
    <!-- GitHub -->
    <a href="https://github.com/fool739" target="_blank" rel="noopener noreferrer" class="hover:text-neutral-600 dark:hover:text-neutral-400 transition-colors">
        <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 19C4 20.5 4 16.5 2 16M16 22V18.13C16.0375 17.6532 15.9731 17.1738 15.811 16.7238C15.6489 16.2738 15.3929 15.8634 15.06 15.52C18.2 15.17 21.5 13.98 21.5 8.52C21.4997 7.12383 20.9627 5.7812 20 4.77C20.4559 3.54851 20.4236 2.19835 19.91 1C19.91 1 18.73 0.650001 16 2.48C13.708 1.85882 11.292 1.85882 9 2.48C6.27 0.650001 5.09 1 5.09 1C4.57638 2.19835 4.54414 3.54851 5 4.77C4.03013 5.7887 3.49252 7.14346 3.5 8.55C3.5 13.97 6.8 15.16 9.94 15.55C9.611 15.89 9.35726 16.2954 9.19531 16.7399C9.03335 17.1844 8.96681 17.6581 9 18.13V22" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>

</a>
<!-- Twitch -->
<a href="https://twitch.tv/clfool" target="_blank" rel="noopener noreferrer" class="hover:text-neutral-600 dark:hover:text-neutral-400 transition-colors">
    <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11 11V7M16 11V7M21 2H3V18H8V22L12 18H17L21 14V2Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</a>
<!-- Discord -->
<a href="https://discord.gg/HP5tBsWxyx" target="_blank" rel="noopener noreferrer" class="hover:text-neutral-600 dark:hover:text-neutral-400 transition-colors">
    <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.93 5.34C17.72 4.8 16.41 4.39 15.03 4.14C14.86 4.44 14.67 4.84 14.53 5.16C13.06 4.93 11.61 4.93 10.17 5.16C10.03 4.84 9.83 4.44 9.66 4.14C8.28 4.39 6.96 4.8 5.75 5.34C3.2 9.07 2.54 12.7 2.86 16.27C4.44 17.42 5.96 18.13 7.45 18.6C7.81 18.11 8.13 17.58 8.39 17.02C7.83 16.8 7.29 16.53 6.79 16.21C6.93 16.11 7.07 16.01 7.2 15.9C9.61 17 12.31 17 14.69 15.9C14.83 16.01 14.97 16.11 15.1 16.21C14.6 16.53 14.06 16.8 13.5 17.02C13.76 17.58 14.07 18.11 14.44 18.6C15.93 18.13 17.45 17.42 19.03 16.27C19.41 12.13 18.39 8.54 16.04 5.34H18.93ZM8.12 14.23C7.28 14.23 6.59 13.47 6.59 12.53C6.59 11.6 7.27 10.83 8.12 10.83C8.97 10.83 9.66 11.59 9.65 12.53C9.65 13.47 8.97 14.23 8.12 14.23ZM15.76 14.23C14.92 14.23 14.23 13.47 14.23 12.53C14.23 11.6 14.91 10.83 15.76 10.83C16.61 10.83 17.3 11.59 17.29 12.53C17.29 13.47 16.61 14.23 15.76 14.23Z" fill="currentColor"/>
    </svg>
</a>
<!-- YouTube -->
<a href="https://youtube.com/@clfool1" target="_blank" rel="noopener noreferrer" class="hover:text-neutral-600 dark:hover:text-neutral-400 transition-colors">
    <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.615 3.184C16.011 2.938 7.984 2.939 4.385 3.184C0.488 3.45 0.029 5.804 0 12C0.029 18.185 0.484 20.549 4.385 20.816C7.985 21.061 16.011 21.062 19.615 20.816C23.512 20.55 23.971 18.196 24 12C23.971 5.815 23.516 3.451 19.615 3.184ZM9 16V8L17 11.993L9 16Z" fill="currentColor"/>
    </svg>
</a>
</div>
