<div class="flex gap-6 items-center">
    <!-- Email -->
    <a href="mailto:jester@fool.ltd" class="hover:text-neutral-600 dark:hover:text-neutral-400 transition-colors">
        <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 8L10.89 13.26C11.2187 13.4793 11.6049 13.5963 12 13.5963C12.3951 13.5963 12.7813 13.4793 13.11 13.26L21 8M5 19H19C19.5304 19 20.0391 18.7893 20.4142 18.4142C20.7893 18.0391 21 17.5304 21 17V7C21 6.46957 20.7893 5.96086 20.4142 5.58579C20.0391 5.21071 19.5304 5 19 5H5C4.46957 5 3.96086 5.21071 3.58579 5.58579C3.21071 5.96086 3 6.46957 3 7V17C3 17.5304 3.21071 18.0391 3.58579 18.4142C3.96086 18.7893 4.46957 19 5 19Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>
    <!-- Twitter/X -->
    <a href="https://twitter.com/fool739" target="_blank" rel="noopener noreferrer" class="hover:text-neutral-600 dark:hover:text-neutral-400 transition-colors">
        <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.2833 10.1141L23.2178 0H21.1006L13.3427 8.82384L7.14656 0H0L9.36984 13.3924L0 23.9776H2.11732L10.3098 14.6827L16.8534 23.9776H24L14.2827 10.1141H14.2833ZM11.3833 13.4918L10.3864 12.1035L2.86771 1.55782H6.13656L12.1956 10.0919L13.1925 11.4802L21.1016 22.5668H17.8327L11.3833 13.4924V13.4918Z" fill="currentColor"/>
        </svg>
    </a>
    <!-- GitHub -->
    <a href="https://github.com/fool739" target="_blank" rel="noopener noreferrer" class="hover:text-neutral-600 dark:hover:text-neutral-400 transition-colors">
        <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 19C4 20.5 4 16.5 2 16M16 22V18.13C16.0375 17.6532 15.9731 17.1738 15.811 16.7238C15.6489 16.2738 15.3929 15.8634 15.06 15.52C18.2 15.17 21.5 13.98 21.5 8.52C21.4997 7.12383 20.9627 5.7812 20 4.77C20.4559 3.54851 20.4236 2.19835 19.91 1C19.91 1 18.73 0.650001 16 2.48C13.708 1.85882 11.292 1.85882 9 2.48C6.27 0.650001 5.09 1 5.09 1C4.57638 2.19835 4.54414 3.54851 5 4.77C4.03013 5.7887 3.49252 7.14346 3.5 8.55C3.5 13.97 6.8 15.16 9.94 15.55C9.611 15.89 9.35726 16.2954 9.19531 16.7399C9.03335 17.1844 8.96681 17.6581 9 18.13V22" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>

</a>
</div>
