---
import "../styles/global.css"
const { title } = Astro.props
---
<html lang="en">
    <head>
        <title>"FOOL"</title>
        <meta name="title" content="FOOL"/>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="description" content="LIVE LIKE A FOOL.">
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
        <link rel="manifest" href="favicon/site.webmanifest">
        <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#000000">
        <link rel="shortcut icon" href="favicon/fav.ico">
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="msapplication-config" content="favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <!-- Meta -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://fool.ltd/" />
        <meta property="og:title" content=""FOOL""/>
        <meta property="og:description" content="LIVE LIKE A FOOL." />
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://fool.ltd/" />
        <meta property="twitter:title" content=""FOOL""/>
        <meta property="twitter:description" content="LIVE LIKE A FOOL." />
    </head>

    <body class="bg-neutral-950 text-zinc-50"
        <div id="wrapper">
            <nav class="flex justify-between justify-self-auto underline decoration-4 underline-offset-4 items-center w-full cursor-pointer select-none py-4">
                <a href="/" class="font-bold text-lg">BREATH LIFE INTO ALL YOU DO.</a>
                <script>
                    import { setupTextCycle } from '../scripts/cycleText';
                    document.addEventListener('DOMContentLoaded', setupTextCycle);
                </script>
                <a href="/" class="text-lg font-bold">HOME</a> 
            </nav>
            
        <slot />

    <footer>
        <div class="flex my-12 font-bold text-lg justify-center items-center underline decoration-2 underline-offset-4">
            <a href="https://github.com/fool739" class="px-4">github.</a>
            <a href="https://twitter.com/fool739" class="px-4">twitter.</a>
            <a href="https://instagram.com/fool376" class="px-4">instagram.</a>
            <a href="https://discord.gg/5eW7anZCjw" class="px-4">discord.</a>
          </div>
    </footer>
        </div>
    </body>

</html>




